* {
  box-sizing: border-box;
}
:root{
  --primary-bg-color: #1b1b1b;
  --secondary-bg-color: #222326;
  --spotify-green: #1DB954;
  --spotify-purple: #af2896;
}
html, body, div, img {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: Circular,Helvetica,Arial,sans-serif;
  vertical-align: baseline;
}
body {
  line-height: 1;
  background-color: var(--primary-bg-color);
  color: white;
  letter-spacing: 2px;
}

/* Login
--------------------------------------------------------------------------------------*/
.login-container {
  text-align: center;
  margin: 25vh auto;
}
.login-container h1{
  font-size: 60px;
  margin-bottom: 70px;
}
.login-container a{
  border: thick solid var(--spotify-green);
  border-radius: 500px;
  background-color: var(--spotify-green);
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: white;
}
.login-container a:hover{
  filter: brightness(120%);
}
.login-container p{
  margin: 50px auto;
  border-radius: 500px;
  background-color: var(--spotify-purple);
  width: 300px;
  height: 50px;
  padding: 12px 40px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}
.login-container p:hover{
  filter: brightness(120%);
}

/* Search
--------------------------------------------------------------------------------------*/
.search-content-container {
  text-align: center;
}
.search-container {
  /* border: thin solid red; */
  min-width: 350px;
  width: 60%;
  margin: 50px auto 30px;
  text-align: left;
}
.search-container input {
  background-color: var(--primary-bg-color);
  font-size: x-large;
  color: white;
  /* height: 40px; */
  /* border: thin solid white; */
  border: none;
  border-bottom: thin solid white;
  padding: 8px 0 5px 15px;
  width: 100%;
}
.search-container input:hover {
  filter: brightness(120%);
}
.search-container input:focus {
  border: none;
  border-bottom: thick solid white;
  outline: none;
  filter: none;
}
.search-items {
  width: 60%;
  position: absolute;
  z-index: 1;
}
.search-item {
  display: flex;
  height: 50px;
  letter-spacing: 1px;
  color: white;
  background-color: var(--secondary-bg-color);
  font-size: larger;
  border-bottom: medium solid black;
  border-left: thin solid white;
  border-right: thin solid white;
  padding: 6px;
  cursor: pointer;
  padding: 5px 2px 0 2px;
}
.search-item:last-of-type{
  border-bottom: thin solid white;
}
.search-item img{
  margin: 5px;
}
.search-item span{
  margin-left: 10px;
  line-height: 50px;
}
.search-item:hover {
  filter: brightness(120%);
}
.blocked {
  cursor: default;
  text-decoration: line-through;
  color: gray;
}
.blocked:hover {
  filter: none;
}

/* Artists
--------------------------------------------------------------------------------------*/
.artists-showcase {
  display: flex;
  text-align: left;
  width: 80%;
  min-width: 500px;
  margin: 0 auto;
  /* border: thin solid red; */
  overflow-x: auto;
  overflow-y: hidden;
}

.artist-item {
  margin: 0 auto;
  text-align: center;
}

.artist-item h2 {
  margin: 10px 0 0;
}
.artist-item h3 {
  font-size: small;
  margin: 5px 0 10px;
}
.artist-item button{
  margin: 0 0 10px;
}
.image-container {
  position: relative;
}

.remove-icon {
  position: absolute;
  top: 8px;
  right: 8px;
  color: red;
  cursor: pointer;
}

/* Shuffle
--------------------------------------------------------------------------------------*/
.shuffle-content-container {
  text-align: center;
}
.picks-showcase {
  /* border: thin solid black; */
  width: 85%;
  min-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-wrap: wrap;
  text-align: left;
}
.pick-item {
  margin: 0 auto;
  padding: 5px;
  text-align: center;
  width: 20%;
  min-width: 220px;
}
.pick-item:hover {
  filter: brightness(120%);
}
.pick-item img{
  cursor: pointer;
}
.pick-item h2{
  font-size: small;
  margin: 5px 0;
}



/* Misc Buttons
--------------------------------------------------------------------------------------*/
.begin-bttn {
  margin: 20px auto;
  border-radius: 500px;
  background-color: var(--spotify-purple);
  color: white;
  width: 100px;
  height: 45px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  border: none;
}
#sign-out {
  display: inline-block;
  margin: 10px 10px 0;
  cursor: pointer;
  color: red;
}


/* Playlist Modal
--------------------------------------------------------------------------------------*/
#playlist-save-bttn{
  margin: 0 5px;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.playlist-modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  background-color: var(--primary-bg-color);
}
.playlist-modal-content input{
  display: block;
  width: 90%;
  margin: 10px;
  height: 30px;
}

.save-bttn {
  background-color: rgb(17, 212, 17);
  cursor: pointer;
}

.inactive {
  filter: brightness(50%);
  cursor: default;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}